[Desktop Entry]
Type=Application
Exec=bootqt-launch.sh
Icon=io.github.giantpinkrobots.bootqt
Name=Bootqt
Comment=Create bootable drives
Categories=Utility
Keywords=boot;usb;image;ventoy;etch